extends layout

block content
    div(id='detail-chart')

    script.
        var total = #{total}

    #left

    p Checked: #{last_scrape_date}

    form(method='POST')
        button Get Fresh Data

    div !{table}

    script(src='/javascripts/gci_fixer.js')
