extends layout

block content
    div(id='detail-chart')

    script.
        var total = #{total}

    #left

    p(style="text-align:center;font-size:.8em") Updated: #{last_scrape}

    div !{table}

    script(src='/javascripts/gci_fixer.js')
